header {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    border: 3px solid;
    border-radius: 8px;
    width: 72.4%;
    height: 50px;
    color: white;
    background: #2c2f33;
    text-align: left;
  }
  li {
    font-size: 18px;
    list-style-position: inside;
  }
  p {
    font-size: 20px;
  }
  code {
      width: 100%;
      padding: 4px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 2px;
      background: #d4d5d6;
      font-size: 16px;
  }
  .navbar-header {
    font-size: 28px;
    border: 3px solid;
    border-radius: 7px;
    width: 13.9rem;
    height: 80px;
    color: black;
    background: white;
    text-align: center;
    width: 22.7vw;
  }
  .othersize {
    margin-top: 20px;
  }
  .marginleft {
    margin-left: 380px;
  }
  .marginother {
    margin-left: 360px;
  }
  #navbar li {
    color: #56585b;
    border-top: 3px solid;
    margin-top: 2px;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    list-style: none;
  }
  #navbar a {
    display: block;
    padding: 5px 2px;
    color: #2c2f33;
    text-decoration: none;
    cursor: pointer;
  }
  #navbar ul {
    padding: 0;
  }
  #navbar {
    position: fixed;
    min-width: 80px;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    height: 100%;
    background: #d4d5d9;
    width: 22.9vw;
    height: 100%;
  }
  #main-doc {
    margin-top: -10px;
    overflow: hidden;
  }
   @media only screen and (max-width: 700px) {
    #navbar ul {
      border: 4px solid;
      border-radius: 4px;
      height: 100%;
    }
    #navbar {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 80%;
      height: 100%;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
      background: #d4d5d9;
    }
  
    #main-doc {
      position: absolute;
      font-size: 12px;
    }
     code {
       font-size: 8px;
       text-align: center;
     }
     .navbar-header {
    font-size: 28px;
    border: 3px solid;
    border-radius: 7px;
    height: 85px;
    color: black;
    background: white;
    text-align: center;
    width: 78.4vw;
  }
  }
 