@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@400&display=swap');

$font: 'Roboto Mono', monospace;

html {
    font-size: 10px;
}

h1 {
    text-align: center;
    font-family: $font;
    font-size: 4rem;
    margin-top: 40px;
}

h2 {
    font-size: 2.3rem;
    font-family: $font;
    color: #fafafa;
}

#container {
    margin: auto;
    margin-top: 100px;
    background: #2c2f33;
    width: 600px;
    height: 445px;
    border-radius: 40px;
    box-shadow: 10px 10px 4px 4px rgba($color: #000000, $alpha: 0.2);
}

#number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 600px;
    padding: 30px;
    margin-top: 10px;
}

#num {
    height: 40px;
    font-size: 2.5rem;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}

#button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    height: 60px;
    border-radius: 40px;
    font-size: 3.6rem;
    margin-top: -5px;
    transition: .5s;
    box-shadow: 5px 5px 4px 4px rgba($color: #000000, $alpha: 0.2);
}

#button:hover {
    background-color: #2EE59D;
    box-shadow: 1px 1px 4px 4px #7bedbf;
    border: #2EE59D;
    color: #ffffff;
    transform: translateY(-11px);
}

#button:focus {
    outline: none;
}

#output {
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-top: 20px;
    overflow-x: auto;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}
