$skin: #ed9a84;
$feet2: #df907c;
$feet: #feb299;
$fur: #6b6b64;
$white: #f7f7f7;
$black: #23272a;
/*16x16 pixels per cube*/

@mixin base {
    height: 16px;
    position: absolute;
}

body {
    background-color: #edf3fa;
}

#rowOne {
    @include base();
    width: 48px;
    background-color: $black;
    margin-left: 200px;
    margin-top: 200px;
}

#rowTwo {
    @include base();
    width: 144px;
    background-color: $black;
    margin-left: 152px;
    margin-top: 216px;
}

#rowTwoSkin {
    @include base(); 
    width: 16px;
    background-color: $fur;
    margin-left: 216px;
    margin-top: 216px;
}

#rowThree {
    @include base();
    width: 176px;
    background-color: $black;
    margin-left: 152px;
    margin-top: 232px;
}

#rowThreeSkin {
    @include base(); 
    width: 48px;
    background-color: $fur;
    margin-left: 168px;
    margin-top: 232px;
}

#rowThreeEye {
    @include base(); 
    width: 16px;
    background-color: $white;
    margin-left: 216px;
    margin-top: 232px;
}

#rowThreeSkinOne {
    @include base(); 
    width: 48px;
    background-color: $fur;
    margin-left: 232px;
    margin-top: 232px;
}

#rowFour {
    @include base();
    width: 208px;
    background-color: $black;
    margin-left: 120px;
    margin-top: 248px;
}

#rowFourSkin {
    @include base(); 
    width: 48px;
    background-color: $fur;
    margin-left: 168px;
    margin-top: 248px;
}

#rowFourEye {
    @include base(); 
    width: 16px;
    background-color: $white;
    margin-left: 216px;
    margin-top: 248px;
}

#rowFourEyeOne {
    @include base(); 
    width: 16px;
    background-color: $black;
    margin-left: 232px;
    margin-top: 248px;
}

#rowFourSkinOne {
    @include base(); 
    width: 32px;
    background-color: $fur;
    margin-left: 248px;
    margin-top: 248px;
}

#rowFourNose {
    @include base(); 
    width: 32px;
    background-color: $skin;
    margin-left: 280px;
    margin-top: 248px;
}

#rowFive {
    @include base();
    width: 224px;
    background-color: $black;
    margin-left: 104px;
    margin-top: 264px;
}

#rowFiveSkin {
    @include base();
    width: 16px;
    background-color: $fur;
    margin-left: 136px;
    margin-top: 264px;
}

#rowFiveSkinOne {
    @include base(); 
    width: 112px;
    background-color: $fur;
    margin-left: 168px;
    margin-top: 264px;
}

#rowFiveNose {
    @include base(); 
    width: 32px;
    background-color: $skin;
    margin-left: 280px;
    margin-top: 264px;
}

#rowFiveNoseOne {
    @include base(); 
    width: 16px;
    background-color: $feet2;
    margin-left: 296px;
    margin-top: 264px;
}

#rowSix {
    @include base();
    width: 240px;
    background-color: $black;
    margin-left: 88px;
    margin-top: 280px;
}

#rowSixSkin {
    @include base();
    width: 48px;
    background-color: $fur;
    margin-left: 120px;
    margin-top: 280px;
}

#rowSixSkinOne {
    @include base();
    width: 80px;
    background-color: $fur;
    margin-left: 200px;
    margin-top: 280px;
}

#rowSeven {
    @include base();
    width: 208px;
    background-color: $black;
    margin-left: 88px;
    margin-top: 296px;
}

#rowSevenSkin {
    @include base();
    width: 48px;
    background-color: $fur;
    margin-left: 104px;
    margin-top: 296px;
}

#rowSevenSkinOne {
    @include base();
    width: 32px;
    background-color: $fur;
    margin-left: 168px;
    margin-top: 296px;
}

#rowEight {
    @include base();
    width: 176px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 312px;
}

#rowEightSkin {
    @include base();
    width: 48px;
    background-color: $fur;
    margin-left: 104px;
    margin-top: 312px;
}

#rowEightSkinOne {
    @include base();
    width: 16px;
    background-color: $fur;
    margin-left: 168px;
    margin-top: 312px;
}

#rowEightSkinTwo {
    @include base();
    width: 32px;
    background-color: $fur;
    margin-left: 200px;
    margin-top: 312px;
}

#rowNine {
    @include base();
    width: 192px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 328px;
}

#rowNineSkin {
    @include base();
    width: 80px;
    background-color: $fur;
    margin-left: 88px;
    margin-top: 328px;
}

#rowNineSkinOne {
    @include base();
    width: 16px;
    background-color: $fur;
    margin-left: 216px;
    margin-top: 328px;
}

#rowTen {
    @include base();
    width: 208px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 344px;
}

#rowTenSkin {
    @include base();
    width: 128px;
    background-color: $fur;
    margin-left: 88px;
    margin-top: 344px;
}

#rowTenSkinOne {
    @include base();
    width: 16px;
    background-color: $fur;
    margin-left: 232px;
    margin-top: 344px;
}

#rowEleven {
    @include base();
    width: 208px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 360px;
}

#rowElevenSkin {
    @include base();
    width: 80px;
    background-color: $fur;
    margin-left: 88px;
    margin-top: 360px;
}

#rowElevenSkinOne {
    @include base();
    width: 32px;
    background-color: $fur;
    margin-left: 184px;
    margin-top: 360px;
}

#rowElevenSkinTwo {
    @include base();
    width: 32px;
    background-color: $fur;
    margin-left: 232px;
    margin-top: 360px;
}

#rowElevenFeet {
    @include base();
    width: 32px;
    background-color: $fur;
    margin-left: 120px;
    margin-top: 360px;
}

#rowTwelve {
    @include base();
    width: 208px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 376px;
}

#rowTwelveFeet {
    @include base();
    width: 80px;
    background-color: $fur;
    margin-left: 104px;
    margin-top: 376px;
}

#rowTwelveFeetOne {
    @include base();
    width: 32px;
    background-color: $fur;
    margin-left: 136px;
    margin-top: 376px;
}

#rowTwelveFeetTwo {
    @include base();
    width: 48px;
    background-color: $fur;
    margin-left: 216px;
    margin-top: 376px;
}

#rowThirteen {
    @include base();
    width: 240px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 392px;
}

#rowThirteenFeet {
    @include base();
    width: 96px;
    background-color: $fur;
    margin-left: 88px;
    margin-top: 392px;
}

#rowThirteenFeetOne {
    @include base();
    width: 48px;
    background-color: $feet;
    margin-left: 104px;
    margin-top: 392px;
}

#rowThirteenFeetTwo {
    @include base();
    width: 16px;
    background-color: $skin;
    margin-left: 168px;
    margin-top: 392px;
}

#rowThirteenFeetThree {
    @include base();
    width: 48px;
    background-color: $feet2;
    margin-left: 200px;
    margin-top: 392px;
}

#rowThirteenFeetFour {
    @include base();
    width: 16px;
    background-color: $feet;
    margin-left: 200px;
    margin-top: 392px;
}

#rowFourteen {
    @include base();
    width: 240px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 408px;
}

#rowFourteenFeet {
    @include base();
    width: 80px;
    background-color: $skin;
    margin-left: 88px;
    margin-top: 408px;
}

#rowFourteenFeetOne {
    @include base();
    width: 32px;
    background-color: $feet2;
    margin-left: 104px;
    margin-top: 408px;
}

#rowFourteenFeetTwo {
    @include base();
    width: 64px;
    background-color: $feet2;
    margin-left: 184px;
    margin-top: 408px;
}

#rowFourteenFeetThree {
    @include base();
    width: 32px;
    background-color: $feet;
    margin-left: 200px;
    margin-top: 408px;
}

#rowFourteenFeetFour {
    @include base();
    width: 32px;
    background-color: $feet2;
    margin-left: 264px;
    margin-top: 408px;
}

#rowFifteen {
    @include base();
    width: 240px;
    background-color: $black;
    margin-left: 72px;
    margin-top: 424px;
}

#rowFifteenFeet {
    @include base();
    width: 48px;
    background-color: $skin;
    margin-left: 104px;
    margin-top: 424px;
}

#rowFifteenFeetOne {
    @include base();
    width: 16px;
    background-color: $feet2;
    margin-left: 136px;
    margin-top: 424px;
}

#rowFifteenFeetTwo {
    @include base();
    width: 80px;
    background-color: $feet2;
    margin-left: 200px;
    margin-top: 424px;
}

#rowFifteenFeetThree {
    @include base();
    width: 32px;
    background-color: $feet;
    margin-left: 232px;
    margin-top: 424px;
}

#rowFifteenFeetFour {
    @include base();
    width: 16px;
    background-color: $skin;
    margin-left: 264px;
    margin-top: 424px;
}

#rowSixteen {
    @include base();
    width: 208px;
    background-color: $black;
    margin-left: 88px;
    margin-top: 440px;
}

#rowSixteenFeet {
    @include base();
    width: 64px;
    background-color: $skin;
    margin-left: 120px;
    margin-top: 440px;
}

#rowSixteenFeetOne {
    @include base();
    width: 48px;
    background-color: $feet;
    margin-left: 136px;
    margin-top: 440px;
}

#rowSixteenFeetTwo {
    @include base();
    width: 48px;
    background-color: $feet2;
    margin-left: 216px;
    margin-top: 440px;
}

#rowSeventeen {
    @include base();
    width: 176px;
    background-color: $black;
    margin-left: 104px;
    margin-top: 456px;
}