@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  font-family: 'Manrope', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #ecf2f8;
}

.attribution {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

.attribution a {
  pointer-events: all;
  color: #3e52a3;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container {
  border-radius: 10px;
  width: 915px;
  height: 365px;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 100px 0px rgba(0, 0, 0, 0.05);
}

#drawer {
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 456px;
  z-index: 1;
}

h1 {
  color: #48556a;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 45px;
  padding-right: 20px;
}

p {
  margin-top: 20px;
  margin-left: 50px;
  line-height: 1.6;
  color: #6d7f97;
}

#text {
  position: absolute;
  background-color: #fff;
  width: 505px;
  height: 365px;
  margin-left: 370px;
  z-index: 2;
}

#avatar {
  margin-left: 50px;
  width: 55px;
  margin-top: 25px;
  border-radius: 50px;
}

h2 {
  margin-left: 120px;
  margin-top: 30px;
  position: absolute;
  color: #48556a;
  font-size: 15px;
}

#date {
  position: absolute;
  margin-top: 53px;
  margin-left: 120px;
}

button {
  pointer-events: all;
  margin-top: 40px;
  margin-left: 350px;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 40px;
  border: 1px solid #ecf2f8;
  background-color: #ecf2f8;
  -webkit-transition: .4s;
  transition: .4s;
}

#share {
  width: 23px;
  margin-top: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

button:hover {
  border-color: #6d7f97;
  background-color: #6d7f97;
}

#shareBox, #triangle {
  position: absolute;
}

#shareBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: #48556a;
  width: 280px;
  height: 55px;
  color: #9eafc2;
  margin-top: 200px;
  margin-left: 708px;
  z-index: 20;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#triangle {
  margin-top: 60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 24.5px 0 24.5px;
  border-color: #48556a transparent transparent transparent;
}

@media (max-width: 1000px) {
  #container {
    width: 370px;
    height: 600px;
    border-radius: 20px !important;
  }
  #text {
    width: 370px;
    margin-left: 0px;
    margin-top: 245px;
    padding: 0 30px 20px 0;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    z-index: 1;
  }
  h1 {
    font-size: 16.6px;
    margin-top: 40px;
  }
  p {
    font-size: 15px;
  }
  #drawer {
    width: 370px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  button {
    margin-left: 180px;
    z-index: 51 !important;
  }
  h2, #date {
    margin-left: 130px;
  }
  #triangle {
    display: none;
  }
  #shareBox {
    position: absolute;
    height: 90px;
    width: 370px;
    margin-top: 520px;
    margin-left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 2;
  }
  #shareText {
    width: 300px;
    font-size: 20px;
  }
  #fb, #twt, #pin {
    width: 22px;
  }
}
/*# sourceMappingURL=styles.css.map */