/*
const colors = [
    '#1f77b4',
    '#aec7e8',
    '#ff7f0e',
    '#ffbb78',
    '#2ca02c',
    '#98df8a',
    '#d62728',
    '#ff9896',
    '#9467bd',
    '#c5b0d5',
    '#8c564b',
    '#c49c94',
    '#e377c2',
    '#f7b6d2',
    '#7f7f7f',
    '#c7c7c7',
  ];
*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&display=swap");
h1, h2 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
}

svg {
  display: block;
  margin: auto;
  border: 12px outset;
}

.tile {
  outline: 5px white solid;
}

#numberWii2 {
  -webkit-transform: translate(334px, 0px);
          transform: translate(334px, 0px);
}

#numberWii3 {
  -webkit-transform: translate(334px, 146px);
          transform: translate(334px, 146px);
}

#numberWii4 {
  -webkit-transform: translate(0px, 334px);
          transform: translate(0px, 334px);
}

#numberWii5 {
  -webkit-transform: translate(119px, 334px);
          transform: translate(119px, 334px);
}

#numberWii6 {
  -webkit-transform: translate(236px, 334px);
          transform: translate(236px, 334px);
}

#numberWii7 {
  -webkit-transform: translate(334px, 281px);
          transform: translate(334px, 281px);
}

#numberWii8 {
  -webkit-transform: translate(426px, 281px);
          transform: translate(426px, 281px);
}

#numberWii9 {
  -webkit-transform: translate(0px, 454px);
          transform: translate(0px, 454px);
}

#numberWii10 {
  -webkit-transform: translate(61px, 454px);
          transform: translate(61px, 454px);
}

#numberWii11 {
  -webkit-transform: translate(480px, 103px);
          transform: translate(480px, 103px);
}

#numberWii12 {
  -webkit-transform: translate(470px, 164px);
          transform: translate(470px, 164px);
}

#numberWii13 {
  -webkit-transform: translate(480px, 0px);
          transform: translate(480px, 0px);
}

#numberWii14 {
  -webkit-transform: translate(480px, 50px);
          transform: translate(480px, 50px);
}

#numberWii15 {
  -webkit-transform: translate(470px, 219px);
          transform: translate(470px, 219px);
}

#numberGB1 {
  -webkit-transform: translate(542px, 0px);
          transform: translate(542px, 0px);
}

#numberGB2 {
  -webkit-transform: translate(542px, 125px);
          transform: translate(542px, 125px);
}

#numberGB3 {
  -webkit-transform: translate(519px, 250px);
          transform: translate(519px, 250px);
}

#numberGB4 {
  -webkit-transform: translate(331px, 372px);
          transform: translate(331px, 372px);
}

#numberGB5 {
  -webkit-transform: translate(468px, 349px);
          transform: translate(468px, 349px);
}

#numberGB6 {
  -webkit-transform: translate(408px, 372px);
          transform: translate(408px, 372px);
}

#numberPSTWO1 {
  -webkit-transform: translate(118px, 453px);
          transform: translate(118px, 453px);
}

#numberPSTWO2 {
  -webkit-transform: translate(205px, 451px);
          transform: translate(205px, 451px);
}

#numberPSTWO3 {
  -webkit-transform: translate(274px, 449px);
          transform: translate(274px, 449px);
}

#numberPSTWO4 {
  -webkit-transform: translate(338px, 449px);
          transform: translate(338px, 449px);
}

#numberPSTWO5 {
  -webkit-transform: translate(408px, 434px);
          transform: translate(408px, 434px);
}

#numberPSTWO6 {
  -webkit-transform: translate(470px, 412px);
          transform: translate(470px, 412px);
}

#numberSNES1 {
  -webkit-transform: translate(0px, 516px);
          transform: translate(0px, 516px);
}

#numberSNES2 {
  -webkit-transform: translate(86px, 540px);
          transform: translate(86px, 540px);
}

#numberSNES3 {
  -webkit-transform: translate(143px, 540px);
          transform: translate(143px, 540px);
}

#numberSNES4 {
  -webkit-transform: translate(205px, 520px);
          transform: translate(205px, 520px);
}

#numberGBA1 {
  -webkit-transform: translate(671px, 0px);
          transform: translate(671px, 0px);
}

#numberGBA2 {
  -webkit-transform: translate(671px, 67px);
          transform: translate(671px, 67px);
}

#number2600 {
  -webkit-transform: translate(667px, 125px);
          transform: translate(667px, 125px);
}

#numberDS1 {
  -webkit-transform: translate(1081px, 0px);
          transform: translate(1081px, 0px);
}

#numberDS2 {
  -webkit-transform: translate(965px, 0px);
          transform: translate(965px, 0px);
}

#numberDS3 {
  -webkit-transform: translate(1107px, 138px);
          transform: translate(1107px, 138px);
}

#numberDS4 {
  -webkit-transform: translate(1010px, 138px);
          transform: translate(1010px, 138px);
}

#numberDS5 {
  -webkit-transform: translate(879px, 0px);
          transform: translate(879px, 0px);
}

#numberDS6 {
  -webkit-transform: translate(806px, 0px);
          transform: translate(806px, 0px);
}

#numberDS7 {
  -webkit-transform: translate(938px, 115px);
          transform: translate(938px, 115px);
}

#numberDS8 {
  -webkit-transform: translate(1139px, 246px);
          transform: translate(1139px, 246px);
}

#numberDS9 {
  -webkit-transform: translate(875px, 86px);
          transform: translate(875px, 86px);
}

#numberDS10 {
  -webkit-transform: translate(745px, 0px);
          transform: translate(745px, 0px);
}

#numberDS11 {
  -webkit-transform: translate(817px, 73px);
          transform: translate(817px, 73px);
}

#numberDS12 {
  -webkit-transform: translate(764px, 73px);
          transform: translate(764px, 73px);
}

#numberDS13 {
  -webkit-transform: translate(1089px, 246px);
          transform: translate(1089px, 246px);
}

#numberPS31 {
  -webkit-transform: translate(1106px, 310px);
          transform: translate(1106px, 310px);
}

#numberPS32 {
  -webkit-transform: translate(1040px, 296px);
          transform: translate(1040px, 296px);
}

#numberPS33 {
  -webkit-transform: translate(960px, 245px);
          transform: translate(960px, 245px);
}

#numberPS34 {
  -webkit-transform: translate(785px, 130px);
          transform: translate(785px, 130px);
}

#numberPS35 {
  -webkit-transform: translate(852px, 149px);
          transform: translate(852px, 149px);
}

#numberPS36 {
  -webkit-transform: translate(952px, 187px);
          transform: translate(952px, 187px);
}

#numberPS37 {
  -webkit-transform: translate(1032px, 236px);
          transform: translate(1032px, 236px);
}

#numberPS38 {
  -webkit-transform: translate(724px, 130px);
          transform: translate(724px, 130px);
}

#numberPS39 {
  -webkit-transform: translate(668px, 177px);
          transform: translate(668px, 177px);
}

#number3DS1 {
  -webkit-transform: translate(615px, 250px);
          transform: translate(615px, 250px);
}

#number3DS2 {
  -webkit-transform: translate(884px, 207px);
          transform: translate(884px, 207px);
}

#number3DS3 {
  -webkit-transform: translate(822px, 207px);
          transform: translate(822px, 207px);
}

#number3DS4 {
  -webkit-transform: translate(764px, 197px);
          transform: translate(764px, 197px);
}

#number3DS5 {
  -webkit-transform: translate(690px, 230px);
          transform: translate(690px, 230px);
}

#number3DS6 {
  -webkit-transform: translate(530px, 346px);
          transform: translate(530px, 346px);
}

#number3DS7 {
  -webkit-transform: translate(615px, 320px);
          transform: translate(615px, 320px);
}

#numberPS1 {
  -webkit-transform: translate(530px, 400px);
          transform: translate(530px, 400px);
}

#numberPS2 {
  -webkit-transform: translate(590px, 370px);
          transform: translate(590px, 370px);
}

#numberPS3 {
  -webkit-transform: translate(653px, 371px);
          transform: translate(653px, 371px);
}

#numberPS4 {
  -webkit-transform: translate(664px, 320px);
          transform: translate(664px, 320px);
}

#numberPS5 {
  -webkit-transform: translate(715px, 294px);
          transform: translate(715px, 294px);
}

#numberX1 {
  -webkit-transform: translate(784px, 540px);
          transform: translate(784px, 540px);
}

#numberPSP1 {
  -webkit-transform: translate(843px, 540px);
          transform: translate(843px, 540px);
}

#number360x1 {
  -webkit-transform: translate(1102px, 500px);
          transform: translate(1102px, 500px);
}

#number360x2 {
  -webkit-transform: translate(1127px, 420px);
          transform: translate(1127px, 420px);
}

#number360x3 {
  -webkit-transform: translate(1030px, 532px);
          transform: translate(1030px, 532px);
}

#number360x4 {
  -webkit-transform: translate(958px, 532px);
          transform: translate(958px, 532px);
}

#number360x5 {
  -webkit-transform: translate(1039px, 362px);
          transform: translate(1039px, 362px);
}

#number360x6 {
  -webkit-transform: translate(1039px, 428px);
          transform: translate(1039px, 428px);
}

#number360x7 {
  -webkit-transform: translate(970px, 317px);
          transform: translate(970px, 317px);
}

#number360x8 {
  -webkit-transform: translate(977px, 472px);
          transform: translate(977px, 472px);
}

#number360x9 {
  -webkit-transform: translate(977px, 402px);
          transform: translate(977px, 402px);
}

#number360x10 {
  -webkit-transform: translate(896px, 277px);
          transform: translate(896px, 277px);
}

#number360x11 {
  -webkit-transform: translate(905px, 340px);
          transform: translate(905px, 340px);
}

#number360x12 {
  -webkit-transform: translate(915px, 402px);
          transform: translate(915px, 402px);
}

#number360x13 {
  -webkit-transform: translate(915px, 462px);
          transform: translate(915px, 462px);
}

#number360x14 {
  -webkit-transform: translate(900px, 545px);
          transform: translate(900px, 545px);
}

#numberNES1 {
  -webkit-transform: translate(720px, 355px);
          transform: translate(720px, 355px);
}

#numberNES2 {
  -webkit-transform: translate(585px, 459px);
          transform: translate(585px, 459px);
}

#numberNES3 {
  -webkit-transform: translate(779px, 269px);
          transform: translate(779px, 269px);
}

#numberNES4 {
  -webkit-transform: translate(730px, 545px);
          transform: translate(730px, 545px);
}

#numberPS41 {
  -webkit-transform: translate(510px, 467px);
          transform: translate(510px, 467px);
}

#numberPS42 {
  -webkit-transform: translate(440px, 500px);
          transform: translate(440px, 500px);
}

#numberPS43 {
  -webkit-transform: translate(520px, 540px);
          transform: translate(520px, 540px);
}

#numberPS44 {
  -webkit-transform: translate(388px, 505px);
          transform: translate(388px, 505px);
}

#numberPS45 {
  -webkit-transform: translate(388px, 553px);
          transform: translate(388px, 553px);
}

#numberPS46 {
  -webkit-transform: translate(338px, 553px);
          transform: translate(338px, 553px);
}

#numberPC1 {
  -webkit-transform: translate(288px, 553px);
          transform: translate(288px, 553px);
}
/*# sourceMappingURL=styles.css.map */