@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Open+Sans+Condensed:wght@300&display=swap');

.header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    z-index: 2;
    padding-top: 7px;
    font-size: 3.5vw;
    color: #fff;
}

#desc {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    color: #fff;
}

#header {
    border: 1px solid #23272a;
    background-color: #23272a;
    margin: 0px 10px 10px 10px;
    border-radius: 50%;
    margin: auto;
    width: 70%;
}

.container {
    border: solid 1px #FFFAEF;
    border-radius: 6px;
    display: flex;
    margin: auto;
    width: 70%;
    color: #23272a;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #FFFAEF;
    box-sizing: border-box;
    margin-bottom: 120px;
}

body::before {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        90deg,
        rgb(201, 201, 255, 0.6),
        rgba(182, 170, 250, 0.6),
        rgb(241, 203, 255, 0.6)
      ), url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  }

  label {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    margin-right: 400px;
  }

  .selectGender {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    margin-right: 400px;
  }
  .rickRoll {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3vw;
    margin-right: 350px;
  }

  .funText {
    margin-bottom: 20px;
  }

  .submitButton {
      margin: auto;
  }

@media only screen and (min-width: 1068px) {
    label {
        margin-right: 650px;
    }

    .selectGender {
        margin-right: 650px;
    }

    .rickRoll {
        margin-right: 650px;
    }
}

@media only screen and (max-width: 800px) {
    label {
        margin-right: 300px;
    }

    .selectGender {
        margin-right: 300px;
    }

    .rickRoll {
        margin-right: 250px;
    }
}  

.textBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectGender {
    margin-top: 10px;
}

.rickRoll {
    margin-top: 10px;
}