/*16x16 pixels is the width and height I want per cube# */

:root {
    --hair-color-frisk: #3D120E;
    --skin-color-frisk: #FFC80F;
    --sweater-blue-frisk: #67A4E0;
    --sweater-magenta-frisk: #E508F8;
    --white-toriel: #ffffff;
    --black-toriel: #000000;
    --robe-toriel: #5E5492;
    --delta-rune-toriel: #5656D3;
}

body, html {
    background-color: #b5ffdc;
    min-height: 100%;
}

#friskHeadRowOne {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 150px; /*MARGIN-LEFT STARTS AT 150PX# YOU EITHER ADD OR SUBTRACT 16PX#*/
    margin-top: 450px; /*MARGIN-TOP STARTS AT 450PX# YOU EITHER ADD OR SUBTRACT 16PX#*/
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowTwo {
    width: 192px; /*12 cubes*/
    height: 16px;
    margin-left: 134px;
    margin-top: 466px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowThree {
    width: 224px; /*14 cubes*/
    height: 16px;
    margin-left: 118px;
    margin-top: 482px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowFour {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 102px;
    margin-top: 498px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowFive {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 102px;
    margin-top: 514px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowSix {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 530px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowSixSkin1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 294px;
    margin-top: 530px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowSixSkin2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 262px;
    margin-top: 530px;
    position: absolute;
    background: var(--skin-color-frisk);

}

#friskHeadRowSeven {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 546px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowSevenSkin1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 294px;
    margin-top: 546px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowSevenSkin2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 546px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowEight {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 562px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowEightSkin1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 562px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowNine {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 578px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowNineSkin1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 578px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowNineSkin2 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 578px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowTen {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 594px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowTenSkin1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 594px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowTenSkin2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 594px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowTenSkin3 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 310px;
    margin-top: 594px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowEleven {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 610px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowElevenSkin1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 198px;
    margin-top: 610px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowElevenSkin2 {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 610px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowTwelve {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 86px;
    margin-top: 626px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowTwelveSkin1 {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 214px;
    margin-top: 626px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowThirteen {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 102px;
    margin-top: 642px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowThirteenSkin1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 230px;
    margin-top: 642px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowFourteenHair1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 102px;
    margin-top: 658px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowFourteenHair2 {
    width: 224px; /*13 cubes*/
    height: 16px;
    margin-left: 134px;
    margin-top: 658px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowFourteenSkin1 {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 230px;
    margin-top: 658px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowFifteenHair1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 150px;
    margin-top: 674px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowFifteenHair2 {
    width: 172px; /*10 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 674px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskHeadRowFifteenSkin1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 214px;
    margin-top: 674px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskHeadRowFifteenSkin2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 342px;
    margin-top: 674px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskBodyRowOne {
    width: 160px; /*10 cubes*/
    height: 16px;
    margin-left: 198px;
    margin-top: 690px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowOneSkin1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 214px;
    margin-top: 690px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskBodyRowOneSweaterBlue1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 310px;
    margin-top: 690px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowOneSkin2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 342px;
    margin-top: 690px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskBodyRowTwo {
    width: 160px; /*10 cubes*/
    height: 16px;
    margin-left: 198px;
    margin-top: 706px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowTwoSweaterBlue1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 262px;
    margin-top: 706px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowThree {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 722px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowThreeSweaterBlue1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 214px;
    margin-top: 722px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowThreeSweaterBlue2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 278px;
    margin-top: 722px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowFour {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 738px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowFourSweaterBlue1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 182px;
    margin-top: 738px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowFourSweaterBlue2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 214px;
    margin-top: 738px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowFourSweaterBlue3 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 738px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowFive {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 754px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowFiveSweaterMagenta1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 182px;
    margin-top: 754px;
    position: absolute;
    background: var(--sweater-magenta-frisk);
}

#friskBodyRowFiveSweaterBlue1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 214px;
    margin-top: 754px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowFiveSweaterMagenta2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 262px;
    margin-top: 754px;
    position: absolute;
    background: var(--sweater-magenta-frisk);
}

#friskBodyRowSix {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 770px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowSixSweaterBlue1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 770px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowSixSweaterBlue2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 230px;
    margin-top: 770px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowSixSweaterBlue3 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 262px;
    margin-top: 770px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowSeven {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 786px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowSevenSweaterMagenta1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 786px;
    position: absolute;
    background: var(--sweater-magenta-frisk);
}

#friskBodyRowSkin1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 230px;
    margin-top: 786px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskBodyRowSevenSweaterMagenta2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 278px;
    margin-top: 786px;
    position: absolute;
    background: var(--sweater-magenta-frisk);
}

#friskBodyRowEight {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 802px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowEightSweaterBlue1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 802px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowEightSkin1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 230px;
    margin-top: 802px;
    position: absolute;
    background: var(--skin-color-frisk);
}

#friskBodyRowEightSweaterBlue2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 278px;
    margin-top: 802px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowNine {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 818px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowNineSweaterBlue1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 182px;
    margin-top: 818px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowNineSweaterBlue2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 262px;
    margin-top: 818px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskBodyRowTen {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 834px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskBodyRowTenSweaterBlue1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 198px;
    margin-top: 834px;
    position: absolute;
    background: var(--sweater-blue-frisk);
}

#friskFeetRowOne1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 150px;
    margin-top: 850px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskFeetRowOne2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 850px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskFeetRowOne3 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 310px;
    margin-top: 850px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskFeetRowTwo1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 150px;
    margin-top: 866px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskFeetRowTwo2 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 246px;
    margin-top: 866px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskFeetRowThree1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 166px;
    margin-top: 882px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#friskFeetRowThree2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 262px;
    margin-top: 882px;
    position: absolute;
    background: var(--hair-color-frisk);
}

#torielFeetRowOne { /*TORIEL STARTS HERE!!!*/
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 882px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowTwo {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 866px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowTwoBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 422px;
    margin-top: 866px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowTwoBlack2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 518px;
    margin-top: 866px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowTwo {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 646px; 
    margin-top: 866px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowThree {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 850px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowThreeBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 422px;
    margin-top: 850px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowThreeBlack2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 518px;
    margin-top: 850px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowThree {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 646px;
    margin-top: 850px;
    position: absolute;
    background: var(--white-toriel);
}

#torielLeftFootRowThreeBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 646px;
    margin-top: 850px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowThreeBlack2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 710px;
    margin-top: 850px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowFour {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 406px;
    margin-top: 834px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowFourBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 406px;
    margin-top: 834px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowFourBlack2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 834px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowFour {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 630px;
    margin-top: 834px;
    position: absolute;
    background: var(--white-toriel);
}

#torielLeftFootRowFourBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 630px;
    margin-top: 834px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowFourBlack2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 742px;
    margin-top: 834px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowFive {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 818px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowFiveBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 390px;
    margin-top: 818px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowFiveBlack2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 486px;
    margin-top: 818px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowFive {
    width: 176px; /*11 cubes*/
    height: 16px;
    margin-left: 614px;
    margin-top: 818px;
    position: absolute;
    background: var(--white-toriel);
}

#torielLeftFootRowFiveBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 614px;
    margin-top: 818px;
    position: absolute;
    background: var(--black-toriel);
}   

#torielLeftFootRowFiveBlack2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 774px;
    margin-top: 818px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowSix {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 802px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowSixBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 390px;
    margin-top: 802px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowSixBlack2 {
    width: 32px; /*2 cube*/
    height: 16px;
    margin-left: 502px;
    margin-top: 802px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowSix {
    width: 192px; /*12 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 802px;
    position: absolute;
    background: var(--white-toriel);
}

#torielLeftFootRowSixBlack1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 802px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowSixBlack2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 694px;
    margin-top: 802px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowSixBlack3 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 774px;
    margin-top: 802px;
    position: absolute;
    background: var(--black-toriel);
}

#torielEntireRowSeven {
    width: 384px; /*24 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 786px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowSevenBlack1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 786px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowSevenBlack2 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 786px;
    position: absolute;
    background: var(--black-toriel);
}

#torielClothingRowSeven {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 786px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielLeftFootRowSevenBlack1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 662px;
    margin-top: 786px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowSevenBlack2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 774px;
    margin-top: 786px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowEight {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 770px;
    position: absolute;
    background: var(--white-toriel);
}

#torielRightFootRowEightBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 438px;
    margin-top: 770px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootRowEightBlack2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 770px;
    position: absolute;
    background: var(--black-toriel);
}

#torielClothingRowEight {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 566px;
    margin-top: 770px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielLeftFootRowEightBlack1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 694px;
    margin-top: 770px;
    position: absolute;
    background: var(--black-toriel);
}

#torielLeftFootRowEightBlack2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 742px;
    margin-top: 770px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyRowOne {
    width: 288px; /*18 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 754px;
    position: absolute;
    background: var(--black-toriel);
}

#torielRightFootBodyRowOne {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 754px;
    position: absolute;
    background: var(--white-toriel);
}

#torielClothingBodyRowOne {
    width: 176px; /*11 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 754px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyRowTwo {
    width: 304px; /*19 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 738px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyRowTwoClothing1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 438px;
    margin-top: 738px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyRowTwoClothing2 {
    width: 208px; /*13 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 738px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyThree {
    width: 320px; /*20 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 722px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyThreeClothing {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 722px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyFour {
    width: 352px; /*22 cubes*/
    height: 16px;
    margin-left: 358px;
    margin-top: 706px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyFourArm {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 706px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyFourClothing {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 706px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyFive {
    width: 336px; /*21 cubes*/
    height: 16px;
    margin-left: 358px;
    margin-top: 690px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyFiveArm {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 690px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyFiveClothing {
    width: 224px; /*14 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 690px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodySix {
    width: 336px; /*21 cubes*/
    height: 16px;
    margin-left: 358px;
    margin-top: 674px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodySixArm {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 674px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodySixClothing {
    width: 224px; /*14 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 674px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodySeven {
    width: 368px; /*23 cubes*/
    height: 16px;
    margin-left: 358px;
    margin-top: 658px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodySevenArm {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 658px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodySevenClothing {
    width: 224px; /*14 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 658px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyEight {
    width: 352px; /*22 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 642px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyEightArm1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 642px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyEightArm2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 438px;
    margin-top: 642px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyEightClothing {
    width: 208px; /*13 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 642px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyEightArm3 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 694px;
    margin-top: 642px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyNine {
    width: 352px; /*22 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 626px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyNineArm1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 390px;
    margin-top: 626px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyNineArm2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 626px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyNineClothing {
    width: 208px; /*13 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 626px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyNineArm3 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 694px;
    margin-top: 626px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyTen {
    width: 336px; /*21 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 610px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTenArm1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 406px;
    margin-top: 610px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyTenClothing {
    width: 176px; /*11 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 610px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTenArm2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 694px;
    margin-top: 610px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyEleven {
    width: 336px; /*21 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 594px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyElevenArm {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 594px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyElevenClothing {
    width: 176px; /*11 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 594px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwelve {
    width: 336px; /*21 cubes*/
    height: 16px;
    margin-left: 374px;
    margin-top: 578px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTwelveArm {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 578px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyTwelveClothing {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 578px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwelveDeltaRune {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 662px;
    margin-top: 578px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodyThirteen {
    width: 304px; /*19 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 562px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyThirteenArm {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 406px;
    margin-top: 562px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyThirteenClothing {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 518px;
    margin-top: 562px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyThirteenDeltaRune {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 662px;
    margin-top: 562px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodyFourteen {
    width: 304px; /*19 cubes*/
    height: 16px;
    margin-left: 390px;
    margin-top: 546px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyFourteenArm {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 406px;
    margin-top: 546px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyFourteenClothing {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 550px;
    margin-top: 546px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyFourteenDeltaRune1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 646px;
    margin-top: 546px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyFourteenDeltaRune2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 662px;
    margin-top: 546px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodyFifteen {
    width: 288px; /*18 cubes*/
    height: 16px;
    margin-left: 406px;
    margin-top: 530px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyFifteenArm {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 530px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyFifteenClothing {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 566px;
    margin-top: 530px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyFifteenDeltaRune {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 630px;
    margin-top: 530px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodySixteen {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 422px;
    margin-top: 514px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodySixteenArm {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 514px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodySixteenClothing {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 582px;
    margin-top: 514px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodySixteenDeltaRune {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 614px;
    margin-top: 514px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodySeventeen {
    width: 256px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 498px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodySeventeenArm {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 498px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodySeventeenClothing {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 582px;
    margin-top: 498px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodySeventeenDeltaRune1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 614px;
    margin-top: 498px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodySeventeenDeltaRune2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 630px;
    margin-top: 498px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyEighteen {
    width: 240px; /*15 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 482px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyEighteenArm {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 482px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyEighteenDeltaRune1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 614px;
    margin-top: 482px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodyEighteenDeltaRune2 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 614px;
    margin-top: 482px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyNineteen {
    width: 226px; /*14 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 466px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyNineteenArm {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 466px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyNineteenDeltaRune {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 466px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodyTwenty {
    width: 226px; /*14 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 450px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTwentyClothing1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 470px;
    margin-top: 450px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyArm {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 450px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyTwentyDeltaRune {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 450px;
    position: absolute;
    background: var(--delta-rune-toriel);
}

#torielBodyTwentyClothing2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 646px;
    margin-top: 450px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyOne {
    width: 194px; /*12 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 434px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTwentyOneClothing1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 486px;
    margin-top: 434px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyOneArm {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 518px;
    margin-top: 434px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyTwentyOneClothing2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 630px;
    margin-top: 434px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyTwo {
    width: 194px; /*12 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 418px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTwentyTwoClothing1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 418px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyTwoArm {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 418px;
    position: absolute;
    background: var(--white-toriel);
}

#torielBodyTwentyTwoClothing2 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 582px;
    margin-top: 418px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyThree {
    width: 176px; /*11 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 402px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTwentyThreeClothing1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 402px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyThreeClothing2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 582px;
    margin-top: 402px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielBodyTwentyFour {
    width: 192px; /*12 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 386px;
    position: absolute;
    background: var(--black-toriel);
}

#torielBodyTwentyFourClothing {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 386px;
    position: absolute;
    background: var(--robe-toriel);
}

#torielHeadRowOne {
    width: 224px; /*14 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 370px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowOneFace1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 370px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowOneFace2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 630px;
    margin-top: 370px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTwo {
    width: 240px; /*15 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 354px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowTwoFace1 {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 354px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTwoFace2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 614px;
    margin-top: 354px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTwoFace3 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 678px;
    margin-top: 354px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowThree {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 338px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowThreeFace1 {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 338px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowThreeFace2 {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 338px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFour {
    width: 272px; /*17 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 322px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowFourFace1 {
    width: 96px; /*6 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 322px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFourFace2 {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 322px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFive {
    width: 256px; /*15 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 306px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowFiveFace1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 306px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFiveFace2 {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 582px;
    margin-top: 306px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSix {
    width: 272px; /*16 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 290px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowSixFace1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 290px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSixFace2 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 582px;
    margin-top: 290px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSixFace3 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 662px;
    margin-top: 290px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSeven {
    width: 256px; /*15 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 274px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowSevenFace1 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 274px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSevenFace2 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 566px;
    margin-top: 274px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSevenFace3 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 662px;
    margin-top: 274px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowEight {
    width: 272px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 258px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowEightFace1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 454px;
    margin-top: 258px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowEightFace2 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 258px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowEightFace3 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 566px;
    margin-top: 258px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowEightFace4 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 646px;
    margin-top: 258px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowNine {
    width: 272px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 242px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowNineFace1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 242px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowNineFace2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 242px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowNineFace3 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 566px;
    margin-top: 242px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowNineFace4 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 678px;
    margin-top: 242px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTen {
    width: 272px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 226px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowTenFace1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 226px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTenFace2 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 226px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTenFace3 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 566px;
    margin-top: 226px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTenFace4 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 630px;
    margin-top: 226px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowEleven {
    width: 272px; /*16 cubes*/
    height: 16px;
    margin-left: 438px;
    margin-top: 210px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowElevenFace1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 210px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowElevenFace2 {
    width: 192px; /*12 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 210px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTwelve {
    width: 256px; /*15 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 196px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowTwelveFace1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 470px;
    margin-top: 196px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTwelveFace2 {
    width: 128px; /*8 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 196px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowTwelveFace3 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 662px;
    margin-top: 196px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowThirteen {
    width: 240px; /*14 cubes*/
    height: 16px;
    margin-left: 454px;
    margin-top: 180px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowThirteenFace1 {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 180px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowThirteenFace2 {
    width: 144px; /*9 cubes*/
    height: 16px;
    margin-left: 518px;
    margin-top: 180px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFourteen {
    width: 224px; /*14 cubes*/
    height: 16px;
    margin-left: 470px;
    margin-top: 164px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowFourteenFace1 {
    width: 192px; /*12 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 164px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFifteen {
    width: 192px; /*12 cubes*/
    height: 16px;
    margin-left: 486px;
    margin-top: 148px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowFifteenFace1 {
    width: 80px; /*5 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 148px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowFifteenFace2 {
    width: 64px; /*4 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 148px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSixteen {
    width: 160px; /*10 cubes*/
    height: 16px;
    margin-left: 502px;
    margin-top: 132px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowSixteenFace1 {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 132px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSixteenFace2 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 598px;
    margin-top: 132px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSixteenFace3 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 630px;
    margin-top: 132px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowSeventeen {
    width: 112px; /*7 cubes*/
    height: 16px;
    margin-left: 534px;
    margin-top: 116px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowSeventeenFace1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 598px;
    margin-top: 116px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowEighteen {
    width: 48px; /*3 cubes*/
    height: 16px;
    margin-left: 582px;
    margin-top: 100px;
    position: absolute;
    background: var(--black-toriel);
}

#torielHeadRowEighteenFace1 {
    width: 16px; /*1 cube*/
    height: 16px;
    margin-left: 598px;
    margin-top: 100px;
    position: absolute;
    background: var(--white-toriel);
}

#torielHeadRowNineteen {
    width: 32px; /*2 cubes*/
    height: 16px;
    margin-left: 598px;
    margin-top: 84px;
    position: absolute;
    background: var(--black-toriel);
}