@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
:root {
    --text-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1528360983277-13d401cdc186?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 6.2vw;
    width: 100%;
    text-align: center;
    margin-top: 90px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 5.7vw;
    margin-top: 200px;
    position: absolute;
}

span {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 3.2vw;
    position: absolute;
    margin-top: 260px;
}

@media only screen and (min-width: 900px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 50px;
    }

    span {
        font-size: 40px;
    }
}

#container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
}

