@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$midGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

html {
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: $veryDarkBlue;
}

.attribution {
    margin-top: 230px;
    color: #fafafa;
    font-size: 2em; 
    text-align: center;
}

.attribution a { 
    font-size: 1.5em; 
    color: hsl(228, 45%, 44%); 
}

#container {
    margin-top: 160px;
    width: 350px;
    height: 350px;
    background-color: $darkBlue;
    border-radius: 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#star {
    border-radius: 30px;
    width: 43px;
    height: 43px;
    margin-top: 28px;
    background-color: rgba(124, 135, 152, 0.2);
}

#starPic {
    margin-top: 14px;
}

h1 {
    margin-top: 25px;
    color: $white;
    font-size: 1.25em;
}

#inside {
    width: 286px;
    height: auto;
    padding: 0 32px 0 32px;
}

p {
    color: $lightGrey;
    font-size: 13px;
    line-height: 1.5;
}

#numberContainer {
    display: flex;
    justify-content: space-between;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin-top: 8px;
    color: $lightGrey;
    border: 1px solid rgba(124, 135, 152, 0.2);
    background-color: rgba(124, 135, 152, 0.2);
    border-radius: 50px;
    transition: 0.4s;
}

.number:hover {
    background-color: $midGrey !important;
    border-color: $midGrey !important;
}

button {
    color: $white;
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
    height: 40px;
    background-color: $orange;
    border: 1px solid $orange;
    transition: .4s;
}

button:hover {
    background-color: $white;
    color: $orange;
    border: 1px solid $white;
}

#thank {
    top: 50%;
    transform: translate(50%, 50%);
}

#text {
    top: 50%;
    transform: translate(60%, 50%);
    margin-top: 55px;
    border-radius: 50px;
    border: 1px solid rgba(124, 135, 152, 0.2);
    background-color: rgba(124, 135, 152, 0.2);
    height: 30px;
}

#ratings {
    text-align: center;
    margin-top: 6px;
    color: $orange;
}

#thankContainer {
    transition: 0.4s;
    margin-top: -20px;
    position: absolute;
    display: none;
}

h2 {
    transform: translate(70%, 50%);
    color: $white;
}

#ending {
    transform: translate(9%, 0%);
    width: 295px;
    position: absolute;
    text-align: center;
}