@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Source+Code+Pro:wght@500&display=swap");
body {
  background-color: #1e1e1e;
}

h1 {
  text-align: center;
  margin-top: 120px;
  font-size: 40px;
  color: #F3F6FB;
  font-family: "Raleway", sans-serif;
}

#quote-box {
  margin: auto;
  width: 580px;
  height: 380px;
  background-color: #F3F6FB;
  -webkit-box-shadow: 20px -20px #c799ff;
          box-shadow: 20px -20px #c799ff;
  -webkit-animation-name: blue;
          animation-name: blue;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

p {
  padding: 29.5px;
  font-family: "Raleway", sans-serif;
  font-size: 20.5px;
  color: #002ac0;
  text-align: center;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#tweet-quote {
  width: 40px;
  height: 40px;
  margin-left: 25px;
  position: absolute;
  text-align: center;
  font-size: 35px;
  color: black;
  border: 1px solid #F3F6FB;
  background-color: #F3F6FB;
  border-radius: 3px;
  padding: 10px 10px 6px 10px;
  -webkit-box-shadow: 8px 8px 10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 10px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: .5s;
  transition: .5s;
}

#allText {
  height: 300px;
}

#author {
  position: absolute;
}

button {
  position: absolute;
  font-family: "Raleway", sans-serif;
  margin-left: 350px;
  font-size: 24px;
  border: 1px solid #F3F6FB;
  background-color: #F3F6FB;
  border-radius: 45px;
  padding: 15px;
  -webkit-box-shadow: 8px 8px 10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 10px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: .5s;
  transition: .5s;
}

button:hover {
  background-color: #2EE59D;
  -webkit-box-shadow: 8px 8px 10px 6px #7bedbf;
          box-shadow: 8px 8px 10px 6px #7bedbf;
  border: #2EE59D;
  color: #ffffff;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

#tweet-quote:hover {
  background-color: #2EE59D;
  -webkit-box-shadow: 8px 8px 5px 2px #7bedbf;
          box-shadow: 8px 8px 5px 2px #7bedbf;
  border: #2EE59D;
  color: #ffffff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes fade {
  20% {
    color: #4f5df5;
  }
  40% {
    color: #002ac0;
  }
  100% {
    color: #4954cc;
  }
}

@keyframes fade {
  20% {
    color: #4f5df5;
  }
  40% {
    color: #002ac0;
  }
  100% {
    color: #4954cc;
  }
}

@-webkit-keyframes blue {
  0% {
    -webkit-box-shadow: 20px -20px #c799ff;
            box-shadow: 20px -20px #c799ff;
  }
  50% {
    -webkit-box-shadow: 20px -20px #5a62bd;
            box-shadow: 20px -20px #5a62bd;
  }
  100% {
    -webkit-box-shadow: 20px -20px #c799ff;
            box-shadow: 20px -20px #c799ff;
  }
}

@keyframes blue {
  0% {
    -webkit-box-shadow: 20px -20px #c799ff;
            box-shadow: 20px -20px #c799ff;
  }
  50% {
    -webkit-box-shadow: 20px -20px #5a62bd;
            box-shadow: 20px -20px #5a62bd;
  }
  100% {
    -webkit-box-shadow: 20px -20px #c799ff;
            box-shadow: 20px -20px #c799ff;
  }
}
/*# sourceMappingURL=style.css.map */