@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 17px;
}

#operatorDivide {
  font-size: 30px;
}

#operatorMultiply {
  font-size: 40px;
}

#operatorSubtract {
  font-size: 40px;
}

#operatorAdd {
  font-size: 40px;
}

#decimalFont {
  font-size: 40px;
}

#equalsFont {
  font-size: 50px;
}

#display {
  width: 365px;
  height: 110px;
  border: 15px double;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#displayValue {
  margin-top: 32px;
  font-size: 39px;
  position: absolute;
}

#container {
  width: 410px;
  height: 620px;
  margin: auto;
  margin-top: 40px;
  background-color: #FFF1FA;
  -webkit-box-shadow: 0px 60px 120px -30px rgba(50, 50, 93, 0.25), -60px 0px 120px -30px rgba(50, 50, 93, 0.25), 60px 0px 120px -30px rgba(50, 50, 93, 0.25);
          box-shadow: 0px 60px 120px -30px rgba(50, 50, 93, 0.25), -60px 0px 120px -30px rgba(50, 50, 93, 0.25), 60px 0px 120px -30px rgba(50, 50, 93, 0.25);
}

#displayMath {
  margin-left: 2px;
  font-size: 31px;
  position: absolute;
}

#firstRow {
  padding-top: 30px;
}

span {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

button {
  background-color: #fefbfa;
  border-radius: 90px;
  -webkit-box-shadow: 0 8px 40px 0 #e9b1c1;
          box-shadow: 0 8px 40px 0 #e9b1c1;
}

body {
  background-color: #facddb;
}

#clear {
  padding: 22px 25px 22px 25px;
}

#clear:hover {
  background-color: #f7d6df;
}

#posToNeg {
  padding: 22px 23px 22px 23px;
}

#posToNeg:hover {
  background-color: #f7d6df;
}

#backspace {
  padding: 22px 26px 22px 26px;
}

#backspace:hover {
  background-color: #f7d6df;
}

#divide {
  background-color: #facddb;
  padding: 13px 29px 13px 29px;
}

#divide:hover {
  background-color: #f7d6df;
}

#one {
  padding: 6px 33px 6px 33px;
}

#one:hover {
  background-color: #f7d6df;
}

#two {
  padding: 6px 31px 6px 31px;
}

#two:hover {
  background-color: #f7d6df;
}

#three {
  padding: 6px 31px 6px 31px;
}

#three:hover {
  background-color: #f7d6df;
}

#multiply {
  background-color: #facddb;
  padding: 13px 29px 0px 29px;
}

#multiply:hover {
  background-color: #f7d6df;
}

#four {
  padding: 7px 32px 7px 32px;
}

#four:hover {
  background-color: #f7d6df;
}

#five {
  padding: 7px 32px 7px 32px;
}

#five:hover {
  background-color: #f7d6df;
}

#six {
  padding: 7px 32.4px 7px 32.4px;
}

#six:hover {
  background-color: #f7d6df;
}

#subtract {
  background-color: #facddb;
  padding: 7px 29px 7px 29px;
}

#subtract:hover {
  background-color: #f7d6df;
}

#seven {
  padding: 8px 33px 8px 33px;
}

#seven:hover {
  background-color: #f7d6df;
}

#eight {
  padding: 8px 33px 8px 33px;
}

#eight:hover {
  background-color: #f7d6df;
}

#nine {
  padding: 8px 32px 8px 32px;
}

#nine:hover {
  background-color: #f7d6df;
}

#add {
  background-color: #facddb;
  padding: 8px 26px 8px 26px;
}

#add:hover {
  background-color: #f7d6df;
}

#zero {
  padding: 0px 31.5px 0px 31.5px;
}

#zero:hover {
  background-color: #f7d6df;
}

#decimal {
  padding: 1px 34px 1px 34px;
}

#decimal:hover {
  background-color: #f7d6df;
}

#equals {
  padding: 1px 69px 1px 69px;
}

#equals:hover {
  background-color: #f7d6df;
}
/*# sourceMappingURL=style.css.map */