@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:wght@300&display=swap");
body {
  background-color: #ebebeb;
}

#heart {
  background-color: #ffb7c5;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 140px;
  z-index: 0;
  -webkit-box-shadow: 10px 10px 50px  #fcc0cc;
          box-shadow: 10px 10px 50px  #fcc0cc;
}

#heart::after {
  content: "";
  background-color: #ffb7c5;
  width: 200px;
  height: 200px;
  margin-top: -110px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: -10px -10px 50px  #fcc0cc;
          box-shadow: -10px -10px 50px  #fcc0cc;
}

#heart::before {
  content: "";
  background-color: #ffb7c5;
  width: 200px;
  height: 200px;
  margin-left: -110px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 10px 10px 50px  #fcc0cc;
          box-shadow: 10px 10px 50px  #fcc0cc;
}

.grid {
  background-color: #eff1f6;
  width: 54px;
  height: 54px;
  border: 9px double;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#rowOne1:hover, #rowOne2:hover, #rowOne3:hover, #rowOne4:hover, #rowOne5:hover, #rowOne6:hover {
  background-color: #dbdbdc;
}

#board {
  -webkit-box-shadow: 70px 50px 50px -20px rgba(50, 50, 83, 0.55);
          box-shadow: 70px 50px 50px -20px rgba(50, 50, 83, 0.55);
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  height: 400px;
  background-color: #1d64d1;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  justify-items: center;
  z-index: 1;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#playerOne, #playerTwo, #reset {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  position: absolute;
  left: 50%;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 12px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 47px;
}

#playerTwo {
  margin-top: 127px;
}

#reset {
  margin-top: 207px;
  width: 155px;
  border: none;
}

.turn, #reset:hover {
  background-color: #ffb7c5;
  -webkit-box-shadow: 10px 10px 50px  #fcc0cc !important;
          box-shadow: 10px 10px 50px  #fcc0cc !important;
  color: #fff;
}

.yellowMarker {
  background-color: #f1c31b;
  border: 12px double;
}

.redMarker {
  background-color: #cb293b;
  border: 12px double;
}

.redMarker:hover {
  background-color: #cb4252;
}

.yellowMarker:hover {
  background-color: #f7d352;
}
/*# sourceMappingURL=style.css.map */